@model OnlineShopMASK.Core.Models.Product

@{
    ViewBag.Title = Model.Name + "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="container">
    <div class="col-md-2">
        <img class="img-responsive" src="~/Content/ProductImages/@Model.Image" />


    </div>

    <div class="col-md-10">
        <dl class="dl-horizontal col-md-10">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt></dt>

            <dd> <a href="#" class="btn btn-primary"> Add to cart</a></dd>
            <dd> <a href="#" class="btn btn-primary"> Add to Wishlist</a></dd>

        </dl>
    </div>
</div>

<div style="float:right">
    @Html.ActionLink("Go back", "Index")
</div>

<div class="col-md-12 clearfix">


</div>