@model IEnumerable<OnlineShopMASK.Core.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <a href="@Url.Action("Index", "ProductView")">
                <div class="carousel-item active">
                    <img src="~/Content/ProductImages/Challenger-Asus-Promotion-2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/ProductImages/603f9174-1697-454a-b39d-ebe1d6829c28.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/ProductImages/c9e75c57-9779-4e81-acef-be8cfe38d5be.jpg" class="d-block w-100" alt="...">
                </div>
                </a>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<h2> Offer of the week </h2>
    <div class="row">
        <div class="card-group">
            <div class="card">
                <a href="@Url.Action("Index", "ProductView")">
                    <img class="card-img-top" src="~/Content/ProductImages/11cbf337-e361-4ec9-a58d-3b336c442a30.jpg" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title">Asus VivoBook 14 laptop</h5>
                        </div>
                </a>
                <div class="card-body">
                <p class="card-text">
                    Its thin profile and light weight make the Asus VivoBook 14 laptop a perfect helper in everyday life and is great when you want to write, surf or perform easier editing.
                    The sleek format allows you to easily take it anywhere
                </p>
                <p class="card-text">Price:50</p>
                </div>

            </div>
            <div class="card">
                <a href="@Url.Action("Index", "ProductView")">
                    <img class="card-img-top" src="~/Content/ProductImages/603f9174-1697-454a-b39d-ebe1d6829c28.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lenovo Tab M10 HD 32GB WiFi 10.1 tablet</h5>
                        </div>
                        </a>
                <div class="card-body">
                    <p class="card-text">
                        With the Lenovo Tab M10 HD tablet, you can enjoy all your favorite media in crisp Full HD quality with captivating sound from two front-facing speakers. The lightweight, compact design makes it easy to take anywhere.10.1 HD IPS DisplayAndroid 9.0 Pie,
                        WiFi-ac Dual front-facing speakers
                    </p>
                    <p class="card-text">Price:30</p>
                </div>
            </div>
            <div class="card">
                <a href="@Url.Action("Index", "ProductView")">
                <img class="card-img-top" src="~/Content/ProductImages/f2f3ed2d-e647-4bc8-ab1c-f825f3230f6a.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">iPhone 7 32 GB (matte black)</h5>
                    </div>
                    </a>
                    <div class="card-body">
                        <p class="card-text">
                            With the new iPad Pro 12.9 inch, you can realize all your ideas. Whether you're an aspiring interior designer, app developer, innovative architect or just a dreamer with a vivid imagination, iPadPro offers everything you need Edge-to-edge Liquid
                            Retina Display 8-core A12Z Bionic processor Face ID, LiDAR Scanner
                        </p>
                        <p class="card-text">Price:33</p>
                    </div>
                </div>
        </div>
    </div>

    <h2> Best Seller </h2>

    <div class="row">
        <div class="card-group">
            <div class="card">
                <a href="@Url.Action("Index", "ProductView")">
                    <img class="card-img-top" src="~/Content/ProductImages/11cbf337-e361-4ec9-a58d-3b336c442a30.jpg" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title">Asus VivoBook 14 laptop</h5>
                    </div>
                </a>
                <div class="card-body">
                    <p class="card-text">
                        Its thin profile and light weight make the Asus VivoBook 14 laptop a perfect helper in everyday life and is great when you want to write, surf or perform easier editing.
                        The sleek format allows you to easily take it anywhere
                    </p>
                    <p class="card-text">Price:50</p>
                </div>

            </div>
            <div class="card">
                <a href="@Url.Action("Index", "ProductView")">
                    <img class="card-img-top" src="~/Content/ProductImages/603f9174-1697-454a-b39d-ebe1d6829c28.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lenovo Tab M10 HD 32GB WiFi 10.1 tablet</h5>
                    </div>
                </a>
                <div class="card-body">
                    <p class="card-text">
                        With the Lenovo Tab M10 HD tablet, you can enjoy all your favorite media in crisp Full HD quality with captivating sound from two front-facing speakers. The lightweight, compact design makes it easy to take anywhere.10.1 HD IPS DisplayAndroid 9.0 Pie,
                        WiFi-ac Dual front-facing speakers
                    </p>
                    <p class="card-text">Price:30</p>
                </div>
            </div>
            <div class="card">
                <a href="@Url.Action("Index", "ProductView")">
                    <img class="card-img-top" src="~/Content/ProductImages/f2f3ed2d-e647-4bc8-ab1c-f825f3230f6a.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 7 32 GB (matte black)</h5>
                    </div>
                </a>
                <div class="card-body">
                    <p class="card-text">
                        With the new iPad Pro 12.9 inch, you can realize all your ideas. Whether you're an aspiring interior designer, app developer, innovative architect or just a dreamer with a vivid imagination, iPadPro offers everything you need Edge-to-edge Liquid
                        Retina Display 8-core A12Z Bionic processor Face ID, LiDAR Scanner
                    </p>
                    <p class="card-text">Price:33</p>
                </div>
            </div>
        </div>
    </div>


<div class="col-md-12 clearfix">

</div>
