@model OnlineShopMASK.Core.Models.Product

@{
    ViewBag.Title = Model.Name + "Details";
}


<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="container">
    <div class="col-md-2">
        <img class="img-responsive" src="~/Content/ProductImages/@Model.Image" />
    </div>

    <div class="col-md-10">
        <dl class="dl-horizontal col-md-10">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt></dt>

            <dd> <a href="#" class="btn btn-primary"> Add to cart</a></dd>
            <dd> <a href="#" class="btn btn-primary"> Add to WishList</a></dd>

        </dl>
    </div>
</div>
<ajaxToolkit:Rating ID="r1" runat="server"
                    CurrentRating="0" MaxRating="5"
                    EmptyStarCssClass="far fa-star" FilledStarCssClass="far fa-star"
                    StarCssClass="far fa-star" WaitingStarCssClass="fas fa-star" />
<asp:Label ID="Label1" runat="server" />
<input type="submit" id="Submit1" runat="server" value="Rate!" />

<div style="float:right">
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="col-md-12 clearfix"></div>

<asp:ScriptManager ID="asm" runat="server" />
<script runat="server">
 void Page_Load()
 {
 if (Page.IsPostBack)
 {
 Label1.Text = "Your rating: " + r1.CurrentRating;
 }
 }
</script>