@model OnlineShopMASK.Core.Models.Product
@{
    // ViewBag.Title = Model.;
    var comments = (IEnumerable<OnlineShopMASK.Core.Models.ProductRating>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}


    <h2>@Html.DisplayFor(model => model.Name)</h2>


<div>
    <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
</div>



<div class="container">
    <div class="col-md-2">

            <img class="img-responsive" src="~/Content/ProductImages/@Model.Image" />

    </div>

    <div class="col-md-10">
        <dl class="dl-horizontal col-md-10">


                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <th>
                    @Html.DisplayNameFor(model => model.ProductRating)
                </th>
                <dd>
                    @Html.DisplayFor(model => model.ProductRating)
                </dd>
                


            <dt></dt>

            <dd> <a href="#" class="btn btn-primary"> Add to cart</a></dd>
            <dd> <a href="#" class="btn btn-primary"> Add to WishList</a></dd>

        </dl>
    </div>
</div>

@foreach (var c in comments)
{
    <hr />

    <div class="row">
        <div class="col-md-3">
            <i></i>
            <br />
            @for (var i = 1; i <= c.Rating; i++)
            {
                <span class="starGlowN"></span>
            }
            @for (var i = (c.Rating + 1); i <= 5; i++)
            {
                <span class="starFadeN"></span>
            }
        </div>
        <div class="col-md-9">
            @Html.Raw(c.Comments.Replace("\n", "<br />"))


        </div>
    </div>
}
<hr />
@Html.Partial("_CommentBox")

<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>