@model OnlineShopMASK.Core.Models.Product

@{
    ViewBag.Title = Model.Name + "Details";
}

<div class="card mb-3 container-fluid border-0" style="max-width:inherit;">

    <div class="row no-gutters">
        <div class="col-md-8">
            <img src="~/Content/ProductImages/@Model.Image" class="card-img" alt="today special image" height="420px;">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h4 class="card-title"> @Html.DisplayFor(model => model.Name)</h4>
                <h5> @Html.DisplayNameFor(model => model.Description)</h5>
                <p class="card-text">
                    @Html.DisplayFor(model => model.Description)
                </p>
                <b>Price:  @Html.DisplayFor(model => model.Price)</b>
                <hr />
                <a href="@Url.Action("AddToBasket", "Basket", new { Id=Model.Id})" class="btn btn-outline-primary float-right">Add to Basket</a>
                <a href="#" class="btn btn-outline-danger float-left"> Add to WishList</a>

            </div>
        </div>
    </div>
</div>
<div class="col-md-12 clearfix"></div>
