@model OnlineShopMASK.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Products</h1>

<form asp-controller="ProductView" asp-action="Index">
    <p>
        <input type="text" name="searchString">
        <input type="submit" value="Search" />
    </p>
</form>

<div class="row">
    <div class="col-md-2">
        <h4>Filter by Category</h4>
        <div class="list-group">
            @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
            @foreach (var cat in Model.ProductCategory)
            {
                @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
            }
        </div>

    </div>
    <div class="col-md-10">
        <div class="row">

            @foreach (var item in Model.Products)
            {
                <div class="col-sm-4" style="height:510px;">
                    <div class="card border-dark mb-1" style="height:500px;">
                        <img class="card-img-top img-fluid" style="height:200px; width:250px" src="~/Content/ProductImages/@item.Image" />
                        <div class="card-body">
                            <h5 class="card-title" style="height:100px">
                                <strong>
                                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                                </strong>
                            </h5>
                            @*<p class="card-text" style="height:300px" >@item.Description</p>*@
                            <p class="card-text" style="height:50px"><strong>Price:</strong>@item.Price</p><hr />

                            <a href="@Url.Action("AddToBasket", "Basket", new { Id=item.Id})" class="btn btn-primary">Add to Basket</a>

                        </div>
                    </div>
                 </div>

            }
        </div>
    </div>

</div>
<div class="col-md-12 clearfix">

</div>



