@model OnlineShopMASK.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Index";
}

<hr />

<div class="row">
    <div class="col-md-2">
        <h4>Category</h4>
        <div class="list-group">
            @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
            @foreach (var cat in Model.ProductCategory)
            {
                @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
            }
        </div>

    </div>
    <div class="col-md-10">
        <div class="row">

            @foreach (var item in Model.Products)
            {
                <div class="col-sm-4 text-center border-0">
                    <div class="card mb-1">
                        <img class="card-img-top" src="~/Content/ProductImages/@item.Image" />
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                            </h5>
                            <p class="card-text"><strong>Price : @item.Price</strong></p><hr />
                            <div class="d-flex justify-content-between">
                                <a href="@Url.Action("AddToBasket", "Basket", new { Id=item.Id})" class="btn btn-outline-primary card-link">Add to Basket</a>
                                <a href="@Url.Action("AddToWishList", "WishList", new { Id=item.Id})" class="fa fa-heart fa-2x text-danger card-link" aria-hidden="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<div class="col-md-12 clearfix">

</div>



